.Business{

     background-color: white;
     height: 50vh;
     width: 90%;
     max-width: 1120px;
     position: relative;
     margin: 10rem  auto;
}
.fa-simplybuilt{
    color: rgb(26, 99, 167);
    font-size: 40px;
}
.fa-th-large{
    color:rgb(26, 99, 167);
    font-size: 40px;
}
.fa-code{
    color: rgb(26, 99, 167);
    font-size: 40px;
}
p{
    color: rgb(166, 166, 214);
}

.Child1{
    /* background-color: rgb(231, 26, 26); */
    float: left;
    height: 50vh;
    width: 33%;
    padding-top: 16%;
}
.Child2{
    /* background-color: rgb(231, 26, 26); */
    float: left;
    height: 50vh;
    width: 34%;
    padding-top: 5%;


}

.Child3{

    /* background-color: rgb(26, 224, 231); */
    float: left;
    height: 50vh;
    width: 33%;
    padding-top: 5%;


}

.Child4{
    
align-items: center;
padding: 1%;
margin-left: 10%;
margin-right: 5%;

}
.Li{
    float: left;
    padding-left: 6rem;
    font-size: larger;
    list-style: none;
    color: rgb(24, 119, 156);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}